body {
  @include body-font;
  background-color: rgba(73, 80, 87, 0.9) !important;
  background: url("../img/bg-content.jpg"); //../img/bg-wallet.jpg");
  @include background-cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}
