.features-icons {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: rgba(73, 80, 87, 0.9) !important;
  @include background-cover;
  color:white;
  padding-bottom:20rem;
  h1 {
    padding-top:2rem;
    color:white;
    font-weight: bold;
    font-family:'BenchNine';
  }
  .row{
    padding-bottom:4rem;
  }
  .form-row{
    margin-left:15%;
    width:73%;
  }
  .btn{
    background-color:#6200ee !important;
    border-color:#6200ee;
  }

  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
