header.masthead {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 0rem;
  display:flex;
  color:black;
  background-color: rgba(73, 80, 87, 0.94) !important;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  



  img{
    height:50px;
    width:50px;
    position:absolute;
    left:46%;
    top:65px;
    filter:brightness(0) invert(1);
  }

  .col-md-10{
    padding-top:5rem;
    padding-bottom:0;
  }
  @media (min-width: 768px) {
    padding-top: 10rem;
    padding-bottom: 0rem;
    p {
      color:white;
      position:absolute;
      top:50px;
      left:50%;
      font-size: 60px;
      font-weight: bold;
      font-family:'BenchNine';
    }
    h1 {
      font-size: 3rem;
    }
  }
    @media (max-width: 768px) {
      .row-logo{
        flex-wrap:wrap;
      }
      img{
        left:40%;
      }
      p {
        left:43%;
        color:white;
        font-size: 60px;
        font-weight: bold;
        font-family:'BenchNine';
      }
  }
}
